horizonos.iso
horizonos.vdi

debug/*
bin/*
src/tasks/bin/*
# src/tasks/src/bash/*
src/libc/lib/*

root/

bootboot
dir2fat32/

crosstoolchain/
hostoolchain/
mlibc/mlibc/
mlibc/bmlibc/
mlibc/headers-build/
tmp/

pci.ids

.vscode/
.VSCodeCounter/

data.txt

mlibc/.built
ncurses/*